html, body {
    height: 100%;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Az egérrel való görgetés csúszkájának stílusa */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

/* Az egérrel való görgetés csúszkájának pozíciója */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.5);
}

/* Az egérrel való görgetés csúszkájának pozíciója */
::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,0.8);
}

/* Az egérrel való görgetés csúszkájának pozíciója */
::-webkit-scrollbar-track {
    background-color: rgba(145, 210, 253, 0.64);
    border-radius: 10px;
}
h2 {
    text-align: center;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 0;
}



body{
    font-family: sans-serif;
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%237378e8%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cellipse cx=%22372.455%22 cy=%2231.233%22 rx=%222.53%22 ry=%222.119%22 fill=%22%23fff%22 opacity=%22.186%22%2F%3E%3Cellipse cx=%22674.633%22 cy=%2222.511%22 rx=%221.635%22 ry=%221.43%22 fill=%22%23fff%22 opacity=%22-.091%22%2F%3E%3Cellipse cx=%221137.369%22 cy=%221.229%22 rx=%221.886%22 ry=%221.724%22 fill=%22%23fff%22 opacity=%22.498%22%2F%3E%3Cellipse cx=%221880.447%22 cy=%2219.286%22 rx=%221.678%22 ry=%221.331%22 fill=%22%23fff%22 opacity=%22.662%22%2F%3E%3Cellipse cx=%2237.932%22 cy=%2236.704%22 rx=%222.008%22 ry=%221.6%22 fill=%22%23fff%22 opacity=%22.444%22%2F%3E%3Cellipse cx=%22589.302%22 cy=%2247.414%22 rx=%221.7%22 ry=%221.582%22 fill=%22%23fff%22 opacity=%22.635%22%2F%3E%3Cellipse cx=%221471.336%22 cy=%2250.598%22 rx=%221.386%22 ry=%221.219%22 fill=%22%23fff%22 opacity=%22.574%22%2F%3E%3Cellipse cx=%221643.627%22 cy=%2259.304%22 rx=%221.474%22 ry=%221.363%22 fill=%22%23fff%22 opacity=%22.397%22%2F%3E%3Cellipse cx=%22410.125%22 cy=%2272.657%22 rx=%222.322%22 ry=%221.922%22 fill=%22%23fff%22 opacity=%22-.014%22%2F%3E%3Cellipse cx=%22872.092%22 cy=%2289.918%22 rx=%222.055%22 ry=%221.66%22 fill=%22%23fff%22 opacity=%22-.085%22%2F%3E%3Cellipse cx=%221035.038%22 cy=%2271.697%22 rx=%221.764%22 ry=%221.472%22 fill=%22%23fff%22 opacity=%22.344%22%2F%3E%3Cellipse cx=%221557.203%22 cy=%2290.62%22 rx=%222.594%22 ry=%222.232%22 fill=%22%23fff%22 opacity=%22.282%22%2F%3E%3Cellipse cx=%22427.803%22 cy=%22114.826%22 rx=%222.166%22 ry=%222.086%22 fill=%22%23fff%22 opacity=%22.449%22%2F%3E%3Cellipse cx=%22959.709%22 cy=%22121.667%22 rx=%221.591%22 ry=%221.225%22 fill=%22%23fff%22 opacity=%22.044%22%2F%3E%3Cellipse cx=%221194.469%22 cy=%22125.587%22 rx=%221.646%22 ry=%221.186%22 fill=%22%23fff%22 opacity=%22.76%22%2F%3E%3Cellipse cx=%221565.367%22 cy=%22114.371%22 rx=%221.517%22 ry=%221.392%22 fill=%22%23fff%22 opacity=%22-.199%22%2F%3E%3Cellipse cx=%22478.639%22 cy=%22138.071%22 rx=%221.71%22 ry=%221.391%22 fill=%22%23fff%22 opacity=%22.216%22%2F%3E%3Cellipse cx=%22804.845%22 cy=%22145.341%22 rx=%222.343%22 ry=%221.862%22 fill=%22%23fff%22 opacity=%22.072%22%2F%3E%3Cellipse cx=%221492.242%22 cy=%22156.494%22 rx=%222.074%22 ry=%221.889%22 fill=%22%23fff%22 opacity=%22-.246%22%2F%3E%3Cellipse cx=%221802.93%22 cy=%22131.331%22 rx=%221.885%22 ry=%221.61%22 fill=%22%23fff%22 opacity=%22-.003%22%2F%3E%3Cellipse cx=%22116.86%22 cy=%22181.337%22 rx=%221.401%22 ry=%221.149%22 fill=%22%23fff%22 opacity=%22.308%22%2F%3E%3Cellipse cx=%22703.272%22 cy=%22169.949%22 rx=%221.468%22 ry=%221.157%22 fill=%22%23fff%22 opacity=%22.488%22%2F%3E%3Cellipse cx=%221084.603%22 cy=%22181.667%22 rx=%221.969%22 ry=%221.734%22 fill=%22%23fff%22 opacity=%22.12%22%2F%3E%3Cellipse cx=%221619.786%22 cy=%22191.298%22 rx=%221.95%22 ry=%221.67%22 fill=%22%23fff%22 opacity=%22.1%22%2F%3E%3Cellipse cx=%2242.828%22 cy=%22202.974%22 rx=%221.736%22 ry=%221.306%22 fill=%22%23fff%22 opacity=%22.305%22%2F%3E%3Cellipse cx=%22571.837%22 cy=%22207.412%22 rx=%221.873%22 ry=%221.57%22 fill=%22%23fff%22 opacity=%22.606%22%2F%3E%3Cellipse cx=%221136.3%22 cy=%22216.997%22 rx=%222.171%22 ry=%221.975%22 fill=%22%23fff%22 opacity=%22.644%22%2F%3E%3Cellipse cx=%221683.058%22 cy=%22216.513%22 rx=%222.124%22 ry=%221.682%22 fill=%22%23fff%22 opacity=%22.599%22%2F%3E%3Cellipse cx=%22277.925%22 cy=%22224.418%22 rx=%221.821%22 ry=%221.477%22 fill=%22%23fff%22 opacity=%22.389%22%2F%3E%3Cellipse cx=%22614.015%22 cy=%22239.944%22 rx=%221.519%22 ry=%221.229%22 fill=%22%23fff%22 opacity=%22.318%22%2F%3E%3Cellipse cx=%221248.333%22 cy=%22245.243%22 rx=%222.141%22 ry=%221.862%22 fill=%22%23fff%22 opacity=%22.699%22%2F%3E%3Cellipse cx=%221692.383%22 cy=%22225.187%22 rx=%222.167%22 ry=%221.706%22 fill=%22%23fff%22 opacity=%22.089%22%2F%3E%3Cellipse cx=%22450.748%22 cy=%22281.629%22 rx=%222.184%22 ry=%221.692%22 fill=%22%23fff%22 opacity=%22.482%22%2F%3E%3Cellipse cx=%22572.457%22 cy=%22274.271%22 rx=%221.699%22 ry=%221.31%22 fill=%22%23fff%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%221222.816%22 cy=%22260.059%22 rx=%221.594%22 ry=%221.565%22 fill=%22%23fff%22 opacity=%22.602%22%2F%3E%3Cellipse cx=%221643.907%22 cy=%22269.797%22 rx=%221.4%22 ry=%221.269%22 fill=%22%23fff%22 opacity=%22.101%22%2F%3E%3Cellipse cx=%22410.256%22 cy=%22314.707%22 rx=%221.976%22 ry=%221.712%22 fill=%22%23fff%22 opacity=%22.856%22%2F%3E%3Cellipse cx=%22848.348%22 cy=%22315.651%22 rx=%222.178%22 ry=%221.976%22 fill=%22%23fff%22 opacity=%22.087%22%2F%3E%3Cellipse cx=%221425.842%22 cy=%22314.066%22 rx=%222.682%22 ry=%222.24%22 fill=%22%23fff%22 opacity=%22.038%22%2F%3E%3Cellipse cx=%221529.161%22 cy=%22299.19%22 rx=%222.19%22 ry=%221.975%22 fill=%22%23fff%22 opacity=%22.829%22%2F%3E%3Cellipse cx=%2231.003%22 cy=%22338.625%22 rx=%221.819%22 ry=%221.815%22 fill=%22%23fff%22 opacity=%22.313%22%2F%3E%3Cellipse cx=%22983.542%22 cy=%22326.766%22 rx=%222.674%22 ry=%222.249%22 fill=%22%23fff%22 opacity=%22.151%22%2F%3E%3Cellipse cx=%221253.835%22 cy=%22339.258%22 rx=%221.484%22 ry=%221.297%22 fill=%22%23fff%22 opacity=%22.348%22%2F%3E%3Cellipse cx=%221613.376%22 cy=%22339.27%22 rx=%222.033%22 ry=%221.56%22 fill=%22%23fff%22 opacity=%22.638%22%2F%3E%3Cellipse cx=%22269.982%22 cy=%22352.69%22 rx=%222.15%22 ry=%221.961%22 fill=%22%23fff%22 opacity=%22.34%22%2F%3E%3Cellipse cx=%22501.886%22 cy=%22371.6%22 rx=%222.092%22 ry=%221.982%22 fill=%22%23fff%22 opacity=%22.838%22%2F%3E%3Cellipse cx=%221145.519%22 cy=%22382.628%22 rx=%222.097%22 ry=%222.022%22 fill=%22%23fff%22 opacity=%22.596%22%2F%3E%3Cellipse cx=%221731.148%22 cy=%22372.125%22 rx=%222.07%22 ry=%221.972%22 fill=%22%23fff%22 opacity=%22.508%22%2F%3E%3Cellipse cx=%22464.69%22 cy=%22409.536%22 rx=%222.603%22 ry=%222.129%22 fill=%22%23fff%22 opacity=%22.883%22%2F%3E%3Cellipse cx=%22825.242%22 cy=%22384.246%22 rx=%222.524%22 ry=%222.184%22 fill=%22%23fff%22 opacity=%22.053%22%2F%3E%3Cellipse cx=%221093.704%22 cy=%22385.808%22 rx=%222.278%22 ry=%222.041%22 fill=%22%23fff%22 opacity=%22-.185%22%2F%3E%3Cellipse cx=%221922.858%22 cy=%22392.192%22 rx=%221.438%22 ry=%221.166%22 fill=%22%23fff%22 opacity=%22.313%22%2F%3E%3Cellipse cx=%22485.766%22 cy=%22422.2%22 rx=%221.692%22 ry=%221.645%22 fill=%22%23fff%22 opacity=%22.29%22%2F%3E%3Cellipse cx=%22511.791%22 cy=%22434.162%22 rx=%221.583%22 ry=%221.196%22 fill=%22%23fff%22 opacity=%22.514%22%2F%3E%3Cellipse cx=%221175.18%22 cy=%22440.626%22 rx=%221.666%22 ry=%221.257%22 fill=%22%23fff%22 opacity=%22.405%22%2F%3E%3Cellipse cx=%221596.728%22 cy=%22422.72%22 rx=%222.449%22 ry=%222.272%22 fill=%22%23fff%22 opacity=%22.32%22%2F%3E%3Cellipse cx=%2273.926%22 cy=%22472.513%22 rx=%221.645%22 ry=%221.223%22 fill=%22%23fff%22 opacity=%22.653%22%2F%3E%3Cellipse cx=%22882.359%22 cy=%22473.603%22 rx=%222.514%22 ry=%222.16%22 fill=%22%23fff%22 opacity=%22.707%22%2F%3E%3Cellipse cx=%221495.124%22 cy=%22472.965%22 rx=%222.436%22 ry=%222.084%22 fill=%22%23fff%22 opacity=%22.393%22%2F%3E%3Cellipse cx=%221515.959%22 cy=%22458.608%22 rx=%222.362%22 ry=%221.982%22 fill=%22%23fff%22 opacity=%22.387%22%2F%3E%3Cellipse cx=%22451.945%22 cy=%22502.582%22 rx=%222.088%22 ry=%221.755%22 fill=%22%23fff%22 opacity=%22-.005%22%2F%3E%3Cellipse cx=%22829.677%22 cy=%22506.392%22 rx=%221.655%22 ry=%221.435%22 fill=%22%23fff%22 opacity=%22.473%22%2F%3E%3Cellipse cx=%221383.494%22 cy=%22481.823%22 rx=%221.771%22 ry=%221.423%22 fill=%22%23fff%22 opacity=%22.823%22%2F%3E%3Cellipse cx=%221762.468%22 cy=%22508.071%22 rx=%222.078%22 ry=%221.581%22 fill=%22%23fff%22 opacity=%22.035%22%2F%3E%3Cellipse cx=%222.856%22 cy=%22523.745%22 rx=%222.327%22 ry=%222.271%22 fill=%22%23fff%22 opacity=%22.417%22%2F%3E%3Cellipse cx=%22696.032%22 cy=%22533.476%22 rx=%221.82%22 ry=%221.523%22 fill=%22%23fff%22 opacity=%22-.225%22%2F%3E%3Cellipse cx=%221159.015%22 cy=%22533.954%22 rx=%222.568%22 ry=%222.27%22 fill=%22%23fff%22 opacity=%22.245%22%2F%3E%3Cellipse cx=%221688.272%22 cy=%22535.558%22 rx=%222.062%22 ry=%222.012%22 fill=%22%23fff%22 opacity=%22-.034%22%2F%3E%3Cellipse cx=%22112.538%22 cy=%22548.233%22 rx=%221.78%22 ry=%221.541%22 fill=%22%23fff%22 opacity=%22.462%22%2F%3E%3Cellipse cx=%22543.011%22 cy=%22545.568%22 rx=%222.329%22 ry=%221.978%22 fill=%22%23fff%22 opacity=%22.013%22%2F%3E%3Cellipse cx=%221367.145%22 cy=%22575.992%22 rx=%222.261%22 ry=%221.914%22 fill=%22%23fff%22 opacity=%22.569%22%2F%3E%3Cellipse cx=%221684.592%22 cy=%22557.494%22 rx=%222.307%22 ry=%222.187%22 fill=%22%23fff%22 opacity=%22.658%22%2F%3E%3Cellipse cx=%22374.492%22 cy=%22586.057%22 rx=%222.35%22 ry=%222.071%22 fill=%22%23fff%22 opacity=%22.45%22%2F%3E%3Cellipse cx=%22975.949%22 cy=%22594.558%22 rx=%221.973%22 ry=%221.892%22 fill=%22%23fff%22 opacity=%22.788%22%2F%3E%3Cellipse cx=%221041.823%22 cy=%22576.351%22 rx=%221.286%22 ry=%221.267%22 fill=%22%23fff%22 opacity=%22.781%22%2F%3E%3Cellipse cx=%221603.081%22 cy=%22587.226%22 rx=%222.179%22 ry=%222.074%22 fill=%22%23fff%22 opacity=%22-.028%22%2F%3E%3Cellipse cx=%22141.904%22 cy=%22627.997%22 rx=%221.446%22 ry=%221.187%22 fill=%22%23fff%22 opacity=%22-.092%22%2F%3E%3Cellipse cx=%22771.196%22 cy=%22639.856%22 rx=%221.575%22 ry=%221.567%22 fill=%22%23fff%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%221063.481%22 cy=%22614.1%22 rx=%222.071%22 ry=%222.011%22 fill=%22%23fff%22 opacity=%22.184%22%2F%3E%3Cellipse cx=%221781.44%22 cy=%22626.69%22 rx=%222.201%22 ry=%221.92%22 fill=%22%23fff%22 opacity=%22.273%22%2F%3E%3Cellipse cx=%22350.475%22 cy=%22653.693%22 rx=%221.494%22 ry=%221.411%22 fill=%22%23fff%22 opacity=%22.177%22%2F%3E%3Cellipse cx=%22747.879%22 cy=%22648.766%22 rx=%222.372%22 ry=%222.011%22 fill=%22%23fff%22 opacity=%22.393%22%2F%3E%3Cellipse cx=%221411.996%22 cy=%22668.875%22 rx=%221.907%22 ry=%221.901%22 fill=%22%23fff%22 opacity=%22.555%22%2F%3E%3Cellipse cx=%221868.36%22 cy=%22662.131%22 rx=%221.39%22 ry=%221.295%22 fill=%22%23fff%22 opacity=%22.138%22%2F%3E%3Cellipse cx=%22469.316%22 cy=%22701.212%22 rx=%221.987%22 ry=%221.551%22 fill=%22%23fff%22 opacity=%22.555%22%2F%3E%3Cellipse cx=%22974.435%22 cy=%22672.603%22 rx=%222.238%22 ry=%221.758%22 fill=%22%23fff%22 opacity=%22.801%22%2F%3E%3Cellipse cx=%221417.566%22 cy=%22675.857%22 rx=%221.553%22 ry=%221.23%22 fill=%22%23fff%22 opacity=%22.105%22%2F%3E%3Cellipse cx=%221723.247%22 cy=%22686.631%22 rx=%222.023%22 ry=%221.566%22 fill=%22%23fff%22 opacity=%22.491%22%2F%3E%3Cellipse cx=%22326.952%22 cy=%22717.197%22 rx=%221.495%22 ry=%221.356%22 fill=%22%23fff%22 opacity=%22.115%22%2F%3E%3Cellipse cx=%22614.723%22 cy=%22708.584%22 rx=%222.071%22 ry=%221.944%22 fill=%22%23fff%22 opacity=%22-.044%22%2F%3E%3Cellipse cx=%221002.925%22 cy=%22723.671%22 rx=%221.468%22 ry=%221.17%22 fill=%22%23fff%22 opacity=%22.513%22%2F%3E%3Cellipse cx=%221650.949%22 cy=%22729.074%22 rx=%222.108%22 ry=%221.771%22 fill=%22%23fff%22 opacity=%22.345%22%2F%3E%3Cellipse cx=%22455.259%22 cy=%22736.793%22 rx=%222.226%22 ry=%221.776%22 fill=%22%23fff%22 opacity=%22.956%22%2F%3E%3Cellipse cx=%22680.026%22 cy=%22744.29%22 rx=%221.936%22 ry=%221.453%22 fill=%22%23fff%22 opacity=%22.007%22%2F%3E%3Cellipse cx=%221218.797%22 cy=%22763.07%22 rx=%221.902%22 ry=%221.64%22 fill=%22%23fff%22 opacity=%22.56%22%2F%3E%3Cellipse cx=%221629.209%22 cy=%22766.108%22 rx=%221.739%22 ry=%221.599%22 fill=%22%23fff%22 opacity=%22.033%22%2F%3E%3Cellipse cx=%22192.304%22 cy=%22787.025%22 rx=%222.298%22 ry=%221.842%22 fill=%22%23fff%22 opacity=%22.286%22%2F%3E%3Cellipse cx=%22857.736%22 cy=%22784.706%22 rx=%221.92%22 ry=%221.88%22 fill=%22%23fff%22 opacity=%22.321%22%2F%3E%3Cellipse cx=%221434.724%22 cy=%22779.025%22 rx=%221.991%22 ry=%221.702%22 fill=%22%23fff%22 opacity=%22.589%22%2F%3E%3Cellipse cx=%221504.916%22 cy=%22784.675%22 rx=%221.704%22 ry=%221.328%22 fill=%22%23fff%22 opacity=%22.13%22%2F%3E%3Cellipse cx=%2278.773%22 cy=%22810.618%22 rx=%222.72%22 ry=%222.248%22 fill=%22%23fff%22 opacity=%22.577%22%2F%3E%3Cellipse cx=%22500.721%22 cy=%22810.547%22 rx=%222.533%22 ry=%222.06%22 fill=%22%23fff%22 opacity=%22.584%22%2F%3E%3Cellipse cx=%221316.458%22 cy=%22814.978%22 rx=%222.105%22 ry=%221.843%22 fill=%22%23fff%22 opacity=%22.199%22%2F%3E%3Cellipse cx=%221773.276%22 cy=%22822.693%22 rx=%221.362%22 ry=%221.188%22 fill=%22%23fff%22 opacity=%22.533%22%2F%3E%3Cellipse cx=%22289.225%22 cy=%22840.749%22 rx=%221.846%22 ry=%221.594%22 fill=%22%23fff%22 opacity=%22-.077%22%2F%3E%3Cellipse cx=%22834.35%22 cy=%22842.14%22 rx=%222.163%22 ry=%221.698%22 fill=%22%23fff%22 opacity=%22.426%22%2F%3E%3Cellipse cx=%221115.688%22 cy=%22858.968%22 rx=%221.689%22 ry=%221.374%22 fill=%22%23fff%22 opacity=%22.018%22%2F%3E%3Cellipse cx=%221562.321%22 cy=%22863.539%22 rx=%221.497%22 ry=%221.282%22 fill=%22%23fff%22 opacity=%22.626%22%2F%3E%3Cellipse cx=%2272.597%22 cy=%22888.054%22 rx=%221.416%22 ry=%221.145%22 fill=%22%23fff%22 opacity=%22.31%22%2F%3E%3Cellipse cx=%22582.205%22 cy=%22890.265%22 rx=%222.07%22 ry=%221.87%22 fill=%22%23fff%22 opacity=%22.95%22%2F%3E%3Cellipse cx=%221014.911%22 cy=%22887.092%22 rx=%221.591%22 ry=%221.482%22 fill=%22%23fff%22 opacity=%22.089%22%2F%3E%3Cellipse cx=%221692.353%22 cy=%22887.884%22 rx=%221.759%22 ry=%221.475%22 fill=%22%23fff%22 opacity=%22.018%22%2F%3E%3Cellipse cx=%2285.317%22 cy=%22911.366%22 rx=%222.463%22 ry=%222.223%22 fill=%22%23fff%22 opacity=%22.178%22%2F%3E%3Cellipse cx=%22895.036%22 cy=%22927.55%22 rx=%222.551%22 ry=%222.219%22 fill=%22%23fff%22 opacity=%22.098%22%2F%3E%3Cellipse cx=%221146.781%22 cy=%22903.911%22 rx=%221.739%22 ry=%221.547%22 fill=%22%23fff%22 opacity=%22.767%22%2F%3E%3Cellipse cx=%221879.349%22 cy=%22898.784%22 rx=%222.353%22 ry=%221.957%22 fill=%22%23fff%22 opacity=%22.591%22%2F%3E%3Cellipse cx=%22442.22%22 cy=%22929.606%22 rx=%222.394%22 ry=%222.087%22 fill=%22%23fff%22 opacity=%22.061%22%2F%3E%3Cellipse cx=%22519.467%22 cy=%22948.651%22 rx=%222.437%22 ry=%222.223%22 fill=%22%23fff%22 opacity=%22.668%22%2F%3E%3Cellipse cx=%221233.721%22 cy=%22950.6%22 rx=%222.112%22 ry=%221.871%22 fill=%22%23fff%22 opacity=%22.489%22%2F%3E%3Cellipse cx=%221801.437%22 cy=%22941.921%22 rx=%221.375%22 ry=%221.217%22 fill=%22%23fff%22 opacity=%22.176%22%2F%3E%3Cellipse cx=%222.708%22 cy=%22985.69%22 rx=%222.077%22 ry=%222.002%22 fill=%22%23fff%22 opacity=%22-.002%22%2F%3E%3Cellipse cx=%22848.328%22 cy=%22965.233%22 rx=%222.231%22 ry=%221.933%22 fill=%22%23fff%22 opacity=%22.431%22%2F%3E%3Cellipse cx=%221292.257%22 cy=%22983.191%22 rx=%221.841%22 ry=%221.619%22 fill=%22%23fff%22 opacity=%22.246%22%2F%3E%3Cellipse cx=%221514.906%22 cy=%22960.07%22 rx=%222.435%22 ry=%222.139%22 fill=%22%23fff%22 opacity=%22.153%22%2F%3E%3Cg transform=%22rotate(-62.034 732.213 -1144.586)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22166.057%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-8.303%22 y=%22-12.5%22 width=%2266.423%22 height=%2225%22 rx=%2225%22 ry=%2225%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2299.634%22 height=%228%22 rx=%228%22 ry=%228%22 fill=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.601 460.043 -139.075)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-7.775%22 y=%22-12.5%22 width=%2262.2%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2293.3%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-55.673 1449.425 -1413.294)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-10.189%22 y=%22-12.5%22 width=%2281.516%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22122.274%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-64.962 1158.383 -569.818)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-10.353%22 y=%22-12.5%22 width=%2282.826%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22124.238%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-58.668 1048.254 -196.974)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-8.996%22 y=%22-12.5%22 width=%2271.97%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22107.954%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
    overflow-y: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    box-sizing: border-box;
}
table {
    margin: 0 auto;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(145, 210, 253, 0.64);
    color: #fff;
}
th {
    text-align: left;
}
thead th {
    background-color: rgba(52, 51, 52, 0.42);
}
tbody tr:hover {
    background-color: rgba(0,0,0,0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
}

h1 {
    text-align: center;
    color: #fff;
}

form {
    margin: 0 auto;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"] {
    display: block;
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    color: #000;
    font-size: 16px;
}

form input[type="submit"],
form input[type="button"]{
    display: block;
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: rgba(52, 51, 52, 0.42);
    padding: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#gomb{
    width: 50px;
    background-color: rgba(52, 51, 52, 0.42);
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#gomb input {
    width: 100%;
    height: 100%;
}

form input[type="submit"]:hover,
form input[type="button"]:hover{
    background-color: #7f8ca3;
}
img {
    max-width: 100px;
}

.post {
    margin-top: 20px;
    margin: 20px auto;
    width: 60%;
    background-color: rgba(52, 51, 52, 0.42);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

.postfejlec {
    background-color: rgba(52, 51, 52, 0.42);
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.postleiras {
    padding: 10px;
    font-size: 16px;
}

.kep img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.galery img {
    max-width: initial;
    height: auto;
    width: 235px;
    margin: auto;
}